.DS_Store
.env
.env.*
/.svelte-kit
/dist
node_modules

# Specific file(s) to ignore
*.md
package.json
tsconfig.json

# Ignore local backup
*.backup.*

# Ignore files for NPM
package-lock.json

# ! Exception
!.env.example
